@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Public+Sans:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #38bdf8;
  --primary-foreground: #09090b;

  --secondary: #006c49;
  --secondary-foreground: #ffffff;

  --accent: #00668a;
  --accent-foreground: #ffffff;

  --background: #f7f9fb;
  --foreground: #09090b;

  --muted: #ffffff;
  --muted-foreground: #00668a;

  --border: #f7f9fb;
  --ring: #38bdf8;

  --destructive: #b42318;

  --card: #ffffff;
  --card-foreground: #09090b;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}
